.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(40px + 1vmin);
  color: white;
}

.Subtitle {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: calc(15px + 1vmin);
  font-style: italic;
  color: white;
}

.Form {
  display: flex;
  flex-direction: row;
  width:40%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
}

.InputField {
  display: flex;
  flex-direction: row;
  width:80%;
  height: max-content;
  padding: 20px;
  background-color: #282c34;
  border-radius: 5px;
  color: #ccc;
  font-size: calc(10px + 1vmin);
}

.InputField:focus {
  background-color: #282c34;
  box-shadow: 0 0 5px;
  border-radius: 5px;
  outline: 2px white; /* change the color and size of the outline */
  outline-offset: 2px; 
}

.InputField:-webkit-autofill {
  background-color: #282c34;
  box-shadow: 0 0 5px;
  border-radius: 5px;
  outline: 2px white; /* change the color and size of the outline */
  outline-offset: 2px; 
}

.Submit {
  width: 20%;
  font-size: calc(10px + 1vmin);
  color:#282c34;
  background-color: #ccc ;
}

.Shortened {
  margin-top: 10px;
  font-size: calc(15px + 1vmin);
  color: white;
}

.Error {
  margin-top: 10px;
  font-size: calc(10px + 1vmin);
  font-style: italic;
  color:lightcoral;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}